body {
    margin: 0;
    width: 100%;
    color: white;
    font-family: system-ui;
    background-color: whitesmoke;
    background-size: cover;
  }
 /* ================================ This is a grid layout design ================================ */ 
.grid-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 450px 450px 250px;
    gap: 10px;

    grid-template-areas: 
    'h h h h'
    'm m m a'
    'm m m s'
    'f f f f';
}



/* ==================================== The navigation bar ======================================= */
.navbar { 
  display: flex;
  position: fixed;
  justify-content: right;
  align-items: center;
  background-color: #020744;
  height: 40px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px; 
  z-index: 1;
}
  
  /* Links inside the navbar */
  .navbar a {
    color: #f2f2f2;
    padding: 20px;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: white;
    color: black;
  }

  
 /* ===========================  This is the header of the entire top section ==========================*/
  header {
    position: relative;
    grid-area: h;
    border-radius: 10px;
    border-color: black;
    background-color: yellowgreen;
  }
  
  /* This is the head content which include introductory statement */
  header {
    position: relative;
   
  }

  .head-content { 
    display: block;
    color: black;
    font-size: medium;
    margin-left: 18rem;
    padding-top: 2rem;

  }
  /* This is the image */
  #header-image {
    position: relative;
    top: -140px;
    border-radius: 20%;
    width: 250px;
    height: 205px;
    margin-left: -17rem;
  }





/* ====================================== Main ===================================== */

main {
  grid-area: m;
  border-radius: 10px;
  border-color: black;
  background-color: orange;
}

.info {
  position: relative;
  display: flex;
  width: 100%;
  color: black;
  font-size: small;
  margin-top: 20px;
}

.job-2 {
position: absolute;
left: 60%;
top: 47%;
}



/* ====================================== Aside ===================================== */

aside {
  grid-area: a;
  border-radius: 10px;
  border-color: black;
  background-color: green;
}

.aside-content {
  display: grid;
  width: 100%;
  color: black;
  font-size: 12px;
}
.soft-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 65px);
  gap: 5px;
  text-align: center;
}






/* ====================================== Section ===================================== */
section {
  grid-area: s;
  border-radius: 10px;
  border-color: black;
  background-color: red;
}

.section-content {
  display: grid;
  width: 100%;
  color: black;
  font-size: small;
}
.language {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  gap: 5px;
  text-align: center;
}





/* ====================================== Footer ===================================== */
footer {
  grid-area: f;
  border-radius: 10px;
  border-color: black;
  background-color: aqua;
}
.footer {
  position: relative;
  text-align: center;
  width: 100%;
  color: black;
  font-size: small;
  padding-top: 2px;
  padding-bottom: 2px;
}
#mail {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#_subject {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


.submit {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 5px;
}

#link-1 {
  position: absolute;
  left: 340px;
  top: 82%; 
}
#link-2 {
  position: absolute;
  left: 300px;
  top: 82%; 
}
#info-text {
  position: absolute;
  font-size: small;
  left: 10px;
  top: 80%;
}
#location {
  position: absolute;
  font-size: small;
  right: 40px;
  top: 78%;
}
