body {
    margin: 0;
    width: 100%;
    color: white;
    font-family: system-ui;
    background-color: whitesmoke;
    background-size: cover;
  }
 /* ================================ This is a grid layout design ================================ */ 
.grid-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 400px 400px 200px;
    gap: 10px;

    grid-template-areas: 
    'h h h h'
    'm m m a'
    'm m m s'
    'f f f f';
}



/* ==================================== The navigation bar ======================================= */
.navbar { 
  display: grid;
  justify-content: end;
  align-items: center;
  position: fixed;
  background-color: #020744;
  height: 40px;
  width: 100%;
  top: 0;
  margin-bottom: 5px; 
  z-index: 1;
}
  
  /* Links inside the navbar */
  .navbar a {
    color: #f2f2f2;
    padding: 20px;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: white;
    color: black;
  }

  
 /* ===========================  This is the header of the entire top section ==========================*/
  header {
    position: relative;
    grid-area: h;
    border: solid;
    border-color: black;
    background-color: yellowgreen;
  }
  
  /* This is the head content which include introductory statement */
  header {
    position: relative;
   
  }

  .head-content { 
    display: block;
    color: black;
    font-size: large;
    margin-left: 18rem;
    padding-top: 2rem;

  }
  /* This is the image */
  #header-image {
    position: relative;
    top: -150px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: -17rem;
  }





/* ====================================== Main ===================================== */

main {
  grid-area: m;
  border: solid;
  border-color: black;
  background-color: orange;
}

.info {
  display: flex;
  width: 100%;
  color: black;
  font-size: small;
}



/* ====================================== Aside ===================================== */

aside {
  grid-area: a;
  border: solid;
  border-color: black;
  background-color: green;
}

.aside-content {
  width: 100%;
  color: black;
  font-size: small;
}





/* ====================================== Section ===================================== */
section {
  grid-area: s;
  border: solid;
  border-color: black;
  background-color: red;
}

.section-content {
  width: 100%;
  color: black;
  font-size: small;
}





/* ====================================== Footer ===================================== */
footer {
  grid-area: f;
  border: solid;
  border-color: black;
  background-color: aqua;
}
.footer {
  display: flex;
  width: 100%;
  color: black;
  font-size: small;
  justify-content: center;
}