body {
  margin: 0;
  width: 100%;
  color: rgb(56, 56, 56);
  font-family: system-ui;
}

/* ================================== Navbar =================================== */
  .topnav {
  display: flex;
  position: fixed;
  justify-content: right;
  align-items: center;
  background-color: #020744;
  height: 25px;
  width: 100%;
  top: 0;
  margin-bottom: 5px; 
  z-index: 1;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5vw;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

/* ================================== Header =================================== */

  header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .username {
   position: relative;
   display: block;
   margin-left: 20%;
   font-size: auto;
   top: -195px;
   padding: 1rem;
  }
  
  img {
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 1rem;
    margin-right: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
 
h1 {
  margin: 0px;
  color: black;
}
h2 {
  margin: 0px;
  color: black;
  text-align: center;
  padding-bottom: 1rem;
}
h3 {
  margin-left: 10px;
}
p {
 display: flex;
 padding: 0;
 margin-left: 10px;
}


/* ================================== Button =================================== */

.btn {
  background-color: rgb(223, 125, 13);
  border-radius: 50%;
  border: solid 1px rgb(238, 62, 31);
  width: 40px;
  height: 40px;
}
.back-to-top {
  position: fixed;
  width: 100%;
  margin-left: 95%;
  bottom: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}

/* ================================== Main content =================================== */

.info {
  display: block;
  color: black;
  padding: 10px;
}


/* ================================== Footer =================================== */

.footer {

  width: auto;
  height: auto;  
  text-align: center;
  color: white;
}
#mail #_subject {
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}
#_subject {
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}
.submit {
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1rem;
}
.icon {
  float: left;
  margin-left: 5px;
  color: black;
}


/* ========================== Extra small devices ======================== */
@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns:(1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
    gap: 1rem;
    padding-bottom: 2rem;
  
    grid-template-areas:
    'n n n n' 
    'm m m m'
    'a a a a'
    's s s s'
    'f f f f';
   
  }
  .child-1 {
    grid-area: n;
    border: solid red;
    font-size: 2.5vw;
  }
  
  .child-2 {
    grid-area: m;
    border: solid green;
    font-size: 2.5vw;
  }
  .child-3 {
    grid-area: a;
    border: solid blue;
    font-size: 2.5vw;
  }
  .child-4 {
    grid-area: s;
    border: solid rgb(0, 217, 255);
    font-size: 2.5vw;
  }
  
  .child-5 {
    grid-area: f;
    border: solid purple;
    font-size: 2.5vw;
  }
  .icon {
    font-size: 2vw;
  }
  .btn {
    display: none;
  }
  .username {
   position: relative;
   display: block;
   margin-left: 20%;
   top: 0;
   padding: 0;
  }
  
  img {
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 1rem;
  margin-right: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

}






/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 620px) {
  .container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns:(1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
    gap: 1rem;
    padding-bottom: 2rem;
  
    grid-template-areas:
    'n n n n' 
    'm m m m'
    'a a a a'
    's s s s'
    'f f f f';
   
  }
  .child-1 {
    grid-area: n;
    border: solid red;
    font-size: 1.5vw;
  }
  
  .child-2 {
    grid-area: m;
    border: solid green;
    font-size: 1.5vw;
  }
  .child-3 {
    grid-area: a;
    border: solid blue;
    font-size: 1.5vw;
  }
  .child-4 {
    grid-area: s;
    border: solid rgb(0, 217, 255);
    font-size: 1.5vw;
  }
  
  .child-5 {
    grid-area: f;
    border: solid purple;
    font-size: 1.5vw;
  }
 
 .icon {
  font-size: 2vw;
}
.username {
  position: relative;
  display: block;
  margin-left: 35%;
  font-size: auto;
  top: -240px;
  padding: 1rem;
 }
 .btn {
  display: none;
 }

}






/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns:(1fr);
    grid-template-rows: 20% 30% 30% 30%;
    gap: 1rem;
    padding-bottom: 2rem;
  
    grid-template-areas:
    'n n n n' 
    'm m a a'
    'm m s s'
    'f f f f';
   
  }
  .child-1 {
    grid-area: n;
    border: solid red;
    font-size: 1.5vw;
  }
  
  .child-2 {
    grid-area: m;
    border: solid green;
    font-size: 1.5vw;
  }
  .child-3 {
    grid-area: a;
    border: solid blue;
    font-size: 1.5vw;
  }
  .child-4 {
    grid-area: s;
    border: solid rgb(0, 217, 255);
    font-size: 1.5vw;
  }
  
  .child-5 {
    grid-area: f;
    border: solid purple;
    font-size: 1.5vw;
  }
  .icon {
    font-size: 2vw;
  }


}
 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container { display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns:(1fr);
    grid-template-rows: 20% 30% 30% 30%;
    gap: 1rem;
    padding-bottom: 2rem;
  
    grid-template-areas:
    'n n n n' 
    'm m a a'
    'm m s s'
    'f f f f';
   
  }
  .child-1 {
    grid-area: n;
    border: solid red;
    font-size: 1.5vw;
  }
  
  .child-2 {
    grid-area: m;
    border: solid green;
    font-size: 1.5vw;
  }
  .child-3 {
    grid-area: a;
    border: solid blue;
    font-size: 1.5vw;
  }
  .child-4 {
    grid-area: s;
    border: solid rgb(0, 217, 255);
    font-size: 1.5vw;
  }
  
  .child-5 {
    grid-area: f;
    border: solid purple;
    font-size: 1.5vw;
  }

.icon {
  font-size: 2vw;
}
.btn {
  display: block;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container { display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns:(4, 1fr);
    grid-template-rows: 20% 30% 30% 30%;
    gap: 1rem;
    padding-bottom: 2rem;
  
    grid-template-areas:
    'n n n n' 
    'm m a a'
    'm m s s'
    'f f f f';
   
  }
  .child-1 {
    grid-area: n;
    border: solid red;
    font-size: 1.5vw;
  }
  
  .child-2 {
    grid-area: m;
    border: solid green;
    font-size: 1.5vw;
  }
  .child-3 {
    grid-area: a;
    border: solid blue;
    font-size: 1.5vw;
  }
  .child-4 {
    grid-area: s;
    border: solid rgb(0, 217, 255);
    font-size: 1.5vw;
  }
  
  .child-5 {
    grid-area: f;
    border: solid purple;
    font-size: 1.5vw;
  }

.icon {
  font-size: 2vw;
}

}
























  
