body {
  margin: 0;
  width: 100%;
  color: rgb(56, 56, 56);
  font-family: system-ui;
}

/* ================================== Navbar =================================== */
  .topnav {
  display: flex;
  position: fixed;
  justify-content: right;
  align-items: center;
  background-color: #020744;
  height: 40px;
  width: 100%;
  top: 0;
  margin-bottom: 5px; 
  z-index: 1;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

/* ================================== Header =================================== */

  header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .username {
    width: 
  }
  
  img {
    position: relative;
    top: 20px;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    margin-right: 20px;
  }
h1 {
  margin: 0px;
  color: black;
}
.username {
  position: relative;
  bottom: 100px;
  display: block;
  margin-left: 230px;
}

/* ================================== Button =================================== */

.btn {
  background-color: rgb(223, 125, 13);
  border-radius: 50%;
  border: solid 1px rgb(238, 62, 31);
  width: 40px;
  height: 40px;
}
.back-to-top {
  position: fixed;
  width: 100%;
  margin-left: 95%;
  bottom: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
}

/* ================================== Main content =================================== */

.info {
  display: block;
  color: black;
  padding: 10px;
}
.heading {
  font-size: 15px;
  font-weight: bold;
}
#type {
  font-size: 15px;
  font-weight: bold;
}
#text .text {
  font-size: 1rem;
  font-size: medium;
}

/* ================================== Footer =================================== */

.footer {
  background-color: #020744;
  width: auto;  
  text-align: center;
  color: white;
  padding: 1rem;
  padding: 0%;
}
#mail #_subject {
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}
#_subject {
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}
.submit {
  font-size: 20px;
  margin-top: 1em;
  
}
#link {
  float: right;
  padding-right: 1rem;
  bottom: 1rem;
}





/* ================================== Responsive design styles =================================== */


@media (min-width: 600px) {

p {
  font-size: 1rem;
}

}

@media (min-width: 600px) {

  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  }
  
/* ================================== Responsive design (Grid) =================================== */
  
@media  (max-width: 1500px) {
  .container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 400px 400px 300px;
    gap: 2rem;
    padding-bottom: 2rem;
  
    grid-template-areas:
    'n n n n' 
    'm m a a'
    'm m a a'
    'f f f f';
  
  }
  
  .child-1 {
    grid-area: n;
    border: solid red;
  }
  
  .child-2 {
    grid-area: m;
    border: solid green;
  }
  .child-3 {
    grid-area: a;
    border: solid blue;
  }
  .child-5 {
    grid-area: f;
    border: solid purple;
  }
}

  






